:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #101010;
    --lightest-navy: #303C55;
    --navy-shadow: #cbba9c33;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #CBBA9C;
    --green-tint: #cbba9c33;
    --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    background: #020C1B;
    height: 310vh;
}
.bars{
    display: none;
}
nav{
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    background-color: var(--dark-navy);
    align-items: center;
    justify-content:space-between;
    box-shadow: var(--navy-shadow);
}
nav .logo{
    width: 20%;
    height: 100%;
}
nav .logo img{
    width: 80%;
    height: 100px;
    margin-left: -3rem;
    margin-top: -1rem;
}
nav .links{
    width: 60%;
    position: absolute;
    right: 1rem;
}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3rem;
    justify-content: right;
    list-style: none;
}
nav ul li{
    width: 100px;
    height: 30px;
    border: 1px solid var(--slate);
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

/* SIDEBAR */
.sidebar{
    width: 100%;
    height: 90vh;
    position: fixed;
    bottom: 0;
    left: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.sidebar .icons_holder{
    margin-top: 10vh;
}
.icons_holder .icons{
    padding: 10px;
}
.icons_holder .icons i{
    font-size: 20px;
    color: var(--slate);
}
.icons_holder .line{
    width: 1px;
    border-right: 1px solid var(--slate);
    height: 50vh;
    position: absolute; 
    left: 1vw;
}
.sidebar .email{
    color: var(--slate);
    margin-top:  50vh;
    margin-right: -3rem;
}
.sidebar .email p{
    font-size: 18px;
   transform: rotate(90deg); 
}
.email .line{
    width: 1px;
    border-right: 1px solid var(--slate);
    height: 20vh;
    position: absolute; 
    right: 3rem;
    bottom: 3vh;
    /* margin-right: -3rem; */
}

/* Container */
.container{
    width: 92%;
    height: 100vh;
    color: white;
    margin-left: 70px;
    padding: 0px 20px;
    margin-top: 100px;
}
/* HOME */
.container .home{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
.home .text{
    width: 70%;
    height: auto;
}
.home .text h2{
    width: 100%;
    font-size: 25px;
    color: var(--green);
    font-family: var(--font-mono);
}
.text h2 span{
    display: block;
    color: var(--slate);
    font-size: clamp(20px, 8vw, 60px);
}
.text .first{
    font-size: 25px;
    color: var(--slate);
    line-height: 0.9;
    margin-top: 10px;
    font-weight: 600;
}
.text .second{
   margin: 20px 0px 0px;
   max-width: 600px;
   font-size: 20px;
   font-weight: 500;
   color: var(--slate);
   font-family: var(--font-mono);
}
.text .talk-to-me{
    width: 60%;
    height: 100px;
    display: flex;
    
}
.talk-to-me .talkToMe{
    width: 150px;
    height: 40px;
    padding-top: .5rem;
    text-align: center;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 50px;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    transition: var(--transition);
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
}
.talkToMe a{
    color: var(--green);
    background-color: transparent;
    text-decoration: none;
}
.home .image{
    width: 25%;
    position: relative;
    top: 1rem;
    left: -3rem;
}
.home .image img{
    width: 100%;
    height: 350px;
    position: absolute;
    left: -1rem;
    top: -1rem;
    border-radius: 5px;
    object-fit: cover;
    transition: opacity 500ms ease 0s;
    background: linear-gradient(var(--green));
}
.image .behind{
    width: 100%;
    height: 350px;
    border: 1px solid #CBBA9C;
    border-radius: 5px;
    left: 1.5rem;
    top: 1.5rem;
}
/* ABOUTT */
.container .aboutt{
    width: 50vw;
    display: flex;
    margin-left: 3rem;
    /* display: none; */
}
.container .aboutt .line{
    width: 160px;
    height: 1px;
    border-top:1px solid var(--green);
    margin: 12px;
}

/* ABOUT */

.container .about{
    width: 100%;
    height: auto;
    display: flex;
    font-size: var(--fz-lg);
    font-family: var(--font-mono);
}
.about .image{
    width: 50%;
}
.about .image img{
    position: absolute;
    width: 42%;
    height: 300px;
    left: 6rem;
    margin-top: 1rem;
}
.about .about_me{
    width: 50%;
    border: 1px solid var(--light-slate);
    border-radius: 5px;
    color: var(--lightest-slate);
}
.about_me div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about_me div p{
    width: 50%;
    color: var(--slate);
}
.about_me div p span{
    color: var(--white);
}

/* SKILLS */
.skills{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
    transition: var(--transition);
}
.skills div{
    background-color: #0a192f;
    width: 200px;
    height: 50px;
    padding-top: 15px;
    font-size: var(--fz-xl);
}
/* PROJECTS */
.container .projects{
    width: 100%;
    /* color: var(--slate); */
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects h2{
    text-align: center;
    font-size: var(--fz-xl);
    color: var(--white);
}
.projects .cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.cards .card{
    width: 200px;
    text-align: center;
    font-size: 20px;
}
.card img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.card .text{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--light-navy);
    margin-top: -5px;
    font-size: 18px;
    color: var(--slate);
}
.mobile-projects{
    display: none;
}
.mobile-projects .card{
    display: none;
}
.contact-us{
    width: 90vw;
    margin-top: 3rem;
    display: flex;
    color: var(--slate);
    font-size: 25px;
    gap: 1rem;
}
.contact-us .social-media{
    width: 49%;
    height: auto;
}
.social-media h2{
    color: var(--white);
    font-size: 30px;
}
.social-media div{
    width: 100%;
    display: flex;
}
.social-media div .circle{
    width: 40px;
    height: 40px;
    border: 1px solid var(--slate);
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 7px;
}
.circle i{
    color: var(--white);
}
.social-media div div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.social-media div div span{
    width: 100%;
    color: var(--white);
}
.social-media div div p{
    font-size: 16px;
}
.contact-us .contact-form{
    width: 40%;
    margin-left: 3rem;
}
.contact-form form .form-data div{
  display: flex;
  gap: 2rem;
}
.form-data div input{
    width: 100%;
    height: 45px;
    background-color: #020C1B;
    margin-bottom: 10px;
    border: 1px solid var(--slate);
    font-size: 20px;
    border-radius: 5px;
}
.form-data textarea{
    background-color: #020C1B;
    width: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 5px;
    font-style: italic;
    font-size: 20px;
    color: var(--white);
}
form button{
    width: 50%;
    height: 40px;
    color: var(--white);
    background: #020C1B;
    border: 1px solid var(--light-slate);
    font-size: 20px;
    margin-left: 5.5rem;
    border-radius: 5px;
}
.links{
    display: flex;
}
.links ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    text-align: center;
}
.links ul li{
    border: 1px solid var(--light-slate);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
footer{
    width: 100%;
    background: #020C1B;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
footer p span{
    color: red;
}

/* PHONE */
@media screen and (max-width: 660px) {
    body{
        width: 70%;
        background-color: #020c1b;
        
    }
    .hero{
        width: 100%;
        height: 300vh;
    }
    .bars{
        position: absolute;
        display: inline;
        right: -5rem;
    }
    .bars input{
        display: none;
    }
    .bars label{
        color: var(--green);
        font-size: 25px;
    }
    nav{
        width: 100%;
        height: 10vh;
    }
    nav .logo{
        width: 40%;
        height: 100%;
    }
    nav .logo img{
        width: 100%;
        height: 100px;
        margin-left: -20px;
        margin-top: -10px;
    }
    .links{
        display: none;
    }

    /* SIDEBAR */
    .sidebar{
        display: none;
    }
    /* CONTAINER */
    .container{
        width: 100%;
        margin-top: 1rem;
    }
    .container .home{
        width: 98%;
        position: absolute;
        left: 10px;
        flex-direction: column;
    }
    .home .text{
        width: 98%;

    }
    /* .home .talk-to-me{} */
    .home .text .talk-to-me{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        height: 200px;
    }
    .home .text .talk-to-me .talkToMe{
        margin-top: .5rem;
    }
    
    .home .image{
        width: 90%;
        left: 20px;
        margin-top: -5rem;
    }
    .image img{
        width: 100%;
        margin-left: 10px;
    }
    /* ABOUTT */
     .aboutt h2{
         display: none;
     }
     .aboutt .line{
         display: none;
     }
    /* ABOUT */
    .container .about{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-family: var(--font-mono);
    }
    .about .image{
        display: none;
    }
    .about .about_me{
        width: 90%;
        border: 1px solid var(--light-slate);
        border-radius: 5px;
        color: var(--lightest-slate);
        position: absolute;
        left: 25px;
        top: 137vh;
    }
    .about_me div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about_me div p{
        width: 50%;
        color: var(--slate);
    }
    .about_me div p span{
        color: var(--white);
    }

    /* SKILLS */

    .skills{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 220vh;
        left: 20px;
        gap: 5px;
    }
    .skills div{
        background-color: #0a192f;
        width: 150px;
        height: 40px;
        padding-top: 15px;
        font-size: 16px;
    }
    .projects h2{
        display: none;
    }
    .projects .cards{
        display: none;
    }
    .mobile-projects{
       display: block;
       position: absolute;
       top: 260vh;
    }
    .mobile-projects div{
        width: 150px;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        background: #0a192f;
    }
    /* CONTACT US */
    .contact-us{
        display: flex;
        position: absolute;
        top: 260vh;
        flex-direction: column;
    }
    .contact-us .social-media{
        width: 85%;
    }
    .contact-us .links{
        display: none;
    }
    .contact-us .contact-form{
        width: 90%;
        margin-left: .5rem;
    }
    .contact-form form .form-data div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    form button{
        margin-left: 5rem;
    }
    /* FOOTER */
    footer{
        width: 100%;
        position: absolute;
        top: 380vh;
        left: 5px;
    }


    /* BUTTON */
    /* From cssbuttons.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--slate);
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
}